<div class="card">
    <div class="card-header bg-dark text-white text-center">
        <span class="card-title">Anschrift</span>
    </div>

    <div class="card-body">
        <p>
            Hackerspace Bielefeld<br/>
            Blomestraße 27<br/>
            33609 Bielefeld
        </p>

        <p>Hier gehts zur <a href="/space/mailinglist">öffentlichen Mailingliste</a>.</p>

        <p>Anrufen (<a href="tel:052133732242">052 1337 32 2 42</a>) und Vorbeikommen geht natürlich auch immer.<br/>(Corona-Lockdowns ausgenommen!)</p>
    </div>
</div>
