<div class="card spaces">
    <div class="card-header bg-dark text-white text-center">
        <span class="card-title">Hackerspaces</span>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="http://www.das-labor.org/" title="Das Labor in Bochum" target="_blank">
                    <img src="image/das-labor-logo.png" alt="Das Labor" title="Das Labor in Bochum">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="https://hasi.it/" title="Hasi e.V. – Hackerspace Siegen" target="_blank">
                    <img src="image/hackerspace-siegen-logo.svg" alt="Hasi e.V. – Hackerspace Siegen" title="Hasi e.V. – Hackerspace Siegen">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="http://raumzeitlabor.de/" title="Das RaumZeitLabor in Mannheim" target="_blank">
                    <img src="image/raumzeitlabor-logo.svg" alt="Das RaumZeitLabor in Mannheim" title="Das RaumZeitLabor in Mannheim">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="https://www.warpzone.ms/" title="Die Warpzone in Münster" target="_blank">
                    <img src="image/warpzone-logo.png" alt="Die Warpzone in Münster" title="Die Warpzone in Münster">
                </a>
            </div>
        </div>
    </div>
</div>
