<div class="card special-thanks">
    <div class="card-header bg-dark text-white text-center">
        <span class="card-title">Vielen Dank</span>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="https://www.streitboerger.de" target="_blank" rel="noopener noreferrer"><img src="image/streitboerger-logo.png" width="220"></a>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="http://www.bitel.de" target="_blank" rel="noopener noreferrer"><img src="image/bitel-logo.png"></a>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="http://www.steuer-berater.com" target="_blank" rel="noopener noreferrer"><img src="image/weigelt-miersbach-uhlemeyer-logo.png"></a>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="http://www.martina-liesendahl.de/" class="text-logo-liesendahl" target="_blank" rel="noopener noreferrer">Martina Liesendahl</a>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="https://www.bezreg-detmold.nrw.de" target="_blank" rel="noopener noreferrer"><img src="image/bezirksregierung-detmold-logo.png"></a>
            </div>
        </div>
    </div>
</div>
