{% for post in blogPosts %}
    <div class="row mb-3">
        <div class="col">
            {% include 'blog/post.html.twig' %}
        </div>
    </div>
{% endfor %}

<nav>
    <ul class="pagination">
        {% if page < pages %}
            <li class="page-item">
                <a class="page-link" href="/page/{{ page + 1 }}" aria-label="Zurück">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item active"><a class="page-link" href="/page/{{ page }}">{{ page }}</a></li>

        {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="/page/{{ page - 1 }}" aria-label="Vorwärts">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
