<html lang="de">
    <head>
        <base href="/" target="_self">

        <title>Hackerspace Bielefeld e.V.</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/fonts.css" rel="stylesheet">

        <link rel="icon" href="image/favicon-32.png" sizes="32x32">
        <link rel="icon" href="image/favicon-192.png" sizes="192x192">
        <link rel="apple-touch-icon" href="image/favicon-180.png">
    </head>

    <body>
        {% include 'navigation.html.twig' %}

        <main class="flex-shrink-0">
