<div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
    <div class="col text-center">
        <b>{% include 'sidebar/space-status.html.twig' %}</b>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        {% include 'sidebar/space-address.html.twig' %}
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        {% include 'sidebar/spaces.html.twig' %}
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        {% include 'sidebar/special-thanks.html.twig' %}
    </div>
</div>
